.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@keyframes snakeBorder {
  0% {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    border-top-color: white;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  25% {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    border-top-color: white;
    border-right-color: white;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  50% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    border-top-color: white;
    border-right-color: white;
    border-bottom-color: white;
    border-left-color: transparent;
  }
  75% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    border-top-color: white;
    border-right-color: white;
    border-bottom-color: white;
    border-left-color: white;
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    border-top-color: white;
    border-right-color: white;
    border-bottom-color: white;
    border-left-color: white;
  }
}

.animated-border {
  animation: snakeBorder 4s linear infinite;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%; /* Se vuoi un bordo circolare */
  border: 5px solid transparent; /* Base per l'animazione */
  pointer-events: none; /* Non deve interferire con il click sul link */
}