@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


section {
  scroll-margin-top: 100px;
}

body {
  margin: 0 !important;
}

.appContainer {
  overflow-x: hidden;
}

@keyframes snakeBorder {
  0% {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    border-top-color: white;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  25% {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    border-top-color: white;
    border-right-color: white;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  50% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    border-top-color: white;
    border-right-color: white;
    border-bottom-color: white;
    border-left-color: transparent;
  }
  75% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    border-top-color: white;
    border-right-color: white;
    border-bottom-color: white;
    border-left-color: white;
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    border-top-color: white;
    border-right-color: white;
    border-bottom-color: white;
    border-left-color: white;
  }
}

.animated-border {
  animation: snakeBorder 4s linear infinite;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%; /* Se vuoi un bordo circolare */
  border: 5px solid transparent; /* Base per l'animazione */
  pointer-events: none; /* Non deve interferire con il click sul link */
}